
<label for="collections">Select Collection:</label>

<form action="/album/{{releaseId}}/add" method="POST">

<select name="collection" id="collection">
{{#each user.collections}}
 <option value="{{_id}}">{{name}}</option>
{{/each}} 
</select>

<button type="submit">Add album to selected collection</button>

</form>
