
<div class="home-page">
    
    
    <div class="search">

<div class="img-main">
        
    <div class="form-container">

        <h3>The Best Place to Catalog and Sell Your Records</h3>
    
        <form  action="/artists" method="GET">
            <label for="query">Artist: </label>
            <input type="text" id="query" name="q">
            <button class="button" type="submit">Search</button>
        </form>
    </div>

    <div class="buttons">
        {{#unless auth}}
            <a class="button" href="/login">Login</a>
            <a class="button" href="/signup">Sign Up</a>
        {{/unless}}
    </div>

</div>




