<div>
<h1>Record Collection Market</h1>
<h3>The Best Place to Catalog and Sell Your Records</h3>
</div>


<div>
<form action="/artists" method="GET">
<label for="query">Artist Name</label>
<input type="text" id="query" name="q">
<button type="submit">Search</button>
</form>
</div>

<div>
    {{#unless auth}}
         <a href="/login">Login</a>
         <a href="/signup">Sign Up</a>
    {{/unless}}
</div>

