<div class="img-main">
    <div class="dark">
        <h1 class="greet">Welcome <span>{{user.username}}</span> to your profile page!</h1>
        <a class="link-to-collections" href="/collections/{{user._id}}">My Collections</a>
    </div>    
</div>
