<div class="img-main ">
	<div class="dark"> 
		<div class="form-container">
			
			<form action="/collections/edit/{{collection._id}}" method="POST">
				<h2>Edit the collection</h2>
				<div class="input-line">
					<label for="">Name: </label>
					<input type="text" name="name" value="{{collection.name}}">
				</div>
				<div class="input-line">
					<label for="">Description: </label>
					<input type="text" name="description" value="{{collection.description}}">
				</div>
				<button class='button login-btn' type="sumbmit">Change</button>
			</form>
		</div>
	</div>
</div>
