body {
  padding: 0;
  margin: 0;
  font: 14px 'Poppins', Helvetica, Arial, sans-serif;  
  color: white;
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
}



.message {
  color: red
}



/* Styling for Artist results page */
#artistResults .mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#artistResults h2 {
   display: flex;
   position: relative;
   left: 100px
}

.container { 
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 300px);
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 40px;

}

.subcontainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  /*background-color: white;*/
  
}

#artistResults .subcontainer img {
  border-radius: 5px;
  border: rgb(255, 255, 255) solid 1px;
}

#artistResults .subcontainer .showAlbums {
  padding: 10px;
  border: black solid 1px;
  border-radius: 3px;
  background-color: white;
}

.artistAndBio {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.artistName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bio {
  width: 40vw
}

.albumContainer { 
  display: grid;
  justify-content: center;
  align-items: flex-end;
  grid-template-columns: repeat(6, 200px);
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 40px;

}

details summary::-webkit-details-marker { display:none; }

details {
  width: 50%;
  margin: 0 auto ;
  background: #fefefe;
  margin-bottom: .5rem;
  box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
  border-radius: 5px;
  overflow:auto;
  color: black;
  text-align: center;
}

summary {
  padding: 0.25rem;
  display: block;
  background: rgb(255, 255, 255);
  cursor: pointer;
  color: black;
}

ul {
  list-style: none;
  text-decoration: none;
}

.albumSubcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  /*background-color: white;*/
  
}

.albumSubcontainer img {
  border-radius: 5px;
  border: rgb(255, 255, 255) solid 1px;
}

.nav-bar{
  height: 80px;
  width: 100%;
  background-color: white;
  color: black;
  font-size: 28px;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
  /* padding-left: 100px; */
  box-shadow: 5px 2px 26px 10px grey;
  /* margin-bottom: 30px; */
  position: sticky;  
   top: 0;    

}
.nav-bar a {
  
  color: black;  
  padding-left: 100px;
}

.home-link{
  font-weight: 700;
  color: black;
  text-decoration: none;  
}


.navigation{  
  width: 130px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
  padding-right: 200px; 
}

.img-main{
  height: 100vh;
  background-image: url('/images/joanna-nix-walkup-Kp1Oz5fSxiw-unsplash.jpg');
 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  

}

.button {
    color: white;
    background-color: #353535 ;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow:  2px 2px 6px 2px rgb(134, 134, 134);
    text-align: center;      
}

.buttons{
  padding: 80px 100px;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
}

.button:hover {
  transform: scale(1.05);
  filter: drop-shadow(2px 2px 2px #333);
}

.buttons a {
  padding: 8px;
  opacity: .9;
  
}

.form-container{
  background-color: rgba(255, 255, 255, 0.65);  
  padding: 40px 60px 60px 40px;
  color: black;
  flex-direction: row;
  align-items:center;
  justify-content: center;   
}

.form-container label{
  font-size: 16px;
  font-weight: 700;
}
.form-container input {
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  height: 40px;
  width: 600px;
  padding-left: 30px;
  margin-bottom: 20px; 
  background-color: rgba(255, 255, 255, 0.7);  
  box-shadow: 5px 5px 5px rgb(41, 41, 41);
  font-size: 16px;
  margin: 0 20px;     
}

input:focus {
  outline: none;
  background-color: white;
}
.search-line {
  margin:  20px 0 40px 0;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center; 
}

.input-line {
  width: 100%;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
}

.login-btn {
  margin-top: 15px;
}

.map-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.map-text {
  width: 300px;
  margin-right: 50px;
}

#map {
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  width: 600px;
  height: 40vh;
  padding-left: 30px;
  margin-bottom: 20px; 
  background-color: rgba(255, 255, 255, 0.5);  
  box-shadow: 5px 5px 5px rgb(41, 41, 41);
  font-size: 16px;
  margin: 0 20px;
}

.dark {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.658);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}
.greet {
  font-size: 32px; 
  margin-bottom: 50px; 

}

.greet span {  
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.link-to-collections {
  font-size: 20px;
  width: 400px;
  height: 60px;
  padding-top: 25px;
  text-align: center;
  text-justify: center;
  background-color: rgba(255, 255, 255, 0.219);
}

.link-to-collections:hover{
  background-color: rgba(255, 255, 255, 0.562);
}

.add-collection{
  font-size: 20px;
  width: 400px;
  height: 60px;
  padding-top: 25px;
  text-align: center;
  text-justify: center;
  background-color: rgba(0, 0, 0, 0.534) ;
}

.add-collection:hover{
  background-color: #222222;
}

.collections-box {
  background-color: rgba(255, 255, 255, 0.397)
}

.button-small {
  color: white;
  background-color: rgba(0, 0, 0, 0.219) ;
  height: 30px;
  width: 80px;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;  
  text-align: center;      
}

.edit-btns{
padding: 20px 0;
width: 400px;
display: flex;
flex-direction: row;
align-items:center;
justify-content:space-between;
}

.button-small:hover {
transform: scale(1.05);
background-color: #222222 ;
filter: drop-shadow(2px 2px 2px #333);
}

.edit-btns a {
padding: 4px;
opacity: .9;

}

.container-white{
  height: 100vh;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.171);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;

}