body {
  padding: 0;
  margin: 0;
  font: 14px 'Poppins', Helvetica, Arial, sans-serif;  
  color: white;
  background-color: black;
}

a {
  color: #00b7ff;
  text-decoration: none;
}



.message {
  color: red
}



/* Styling for Artist results page */
#artistResults .mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}



#artistResults h2 {
  padding: 30px 0px 0px 0px;
  text-align: center;
}



.container { 
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 300px);
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 40px;
}

.subcontainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  /*background-color: white;*/
  
}

#artistResults .subcontainer img {
  border-radius: 5px;
  border: rgb(255, 255, 255) solid 1px;
}

#artistResults .subcontainer .showAlbums {
  padding: 10px;
  border: black solid 1px;
  border-radius: 3px;
  background-color: white;
}

.subcontainer:hover {
  background-color: rgb(12, 12, 12);
}

.releasesText {
  text-align: center;
}

.artistAndBio {
  padding: 50px 0px 0px 0px;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: rgb(83, 83, 83) solid 1px;
}

.artistName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 20px 0px
}

.bio {
  width: 40vw;
  padding: 0px 0px 30px 0px
}

.albumContainer {   
  display: grid;
  justify-content: center;
  align-items: flex-end;
  grid-template-columns: repeat(8, 125px);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 40px;
}




details summary::-webkit-details-marker { display:none; }

details {
  width: 70%;
  margin: 0 auto ;
  background: #fefefe;
  margin-bottom: .5rem;
  box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
  overflow:auto;
  color: black;
  text-align: center;
}

summary {
  padding: 0.25rem;
  display: block;
  background: black;
  cursor: pointer;
  color: white;
}
summary:hover {
  background-color: rgb(12, 12, 12);
}

ul {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}

.albumSubcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  
  /*background-color: white;*/
  
}
.albumSubcontainer:hover {
  background-color: rgb(12, 12, 12);
}



.albumSubcontainer img {
  border-radius: 5px;
  border: rgb(255, 255, 255) solid 1px;
}

.nav-bar{
  height: 80px;
  width: 100%;
  background-color: white;
  color: black;
  font-size: 28px;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
  /* padding-left: 100px; */
  box-shadow: 5px 2px 26px 10px grey;
  /* margin-bottom: 30px; */
  position: sticky;  
   top: 0;    

}
.nav-bar a {
  padding-left: 100px;
}

.home-link{
  font-weight: 700;
  color: black;
  text-decoration: none;  
}


.navigation{  
  width: 130px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
  padding-right: 200px; 
}

.img-main{
  height: 100vh;
  background-image: url('/images/joanna-nix-walkup-Kp1Oz5fSxiw-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center; 
}

.button {
    color: white;
    background-color: #353535 ;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow:  2px 2px 6px 2px rgb(134, 134, 134);
    text-align: center;      
}

.buttons{
  padding: 80px 100px;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
}

.button:hover {
  transform: scale(1.05);
  filter: drop-shadow(2px 2px 2px #333);
}

.buttons a {
  padding: 8px;
  opacity: .9;
  
}

.form-container{
  background-color: rgba(255, 255, 255, 0.65);  
  padding: 40px 60px 60px 40px;
  color: black;
  flex-direction: row;
  align-items:center;
  justify-content: center;   
}

.form-container label{
  font-size: 16px;
  font-weight: 700;
}
.form-container input {
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  height: 40px;
  width: 600px;
  padding-left: 30px;
  margin-bottom: 20px; 
  background-color: rgba(255, 255, 255, 0.5);  
  box-shadow: 5px 5px 5px rgb(41, 41, 41);
  font-size: 16px;
  margin: 0 20px;     
}

input:focus {
  outline: none;
  background-color: white;
}
.form-container form {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center; 
}

.input-line {
  width: 100%;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
}

.login-btn {
  margin-top: 15px;
}

.map-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.map-text {
  width: 300px;
  margin-right: 50px;
}

#map {
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  width: 600px;
  height: 40vh;
  padding-left: 30px;
  margin-bottom: 20px; 
  background-color: rgba(255, 255, 255, 0.5);  
  box-shadow: 5px 5px 5px rgb(41, 41, 41);
  font-size: 16px;
  margin: 0 20px;
}