
<label for="collections">Select Collection:</label>

<form action="/addpurchase/{{releaseId}}" method="POST">

<select name="collection" id="collection">
{{#each user.collections}}
 <option value="{{_id}}">{{name}}</option>
{{/each}} 
</select>

<button type="submit">Add album to selected collection</button>

</form>

{{#if message}}
<h3>{{message}}</h3>
<a href="/profile">Go back to your profile</a>
{{/if}}

