<div class="img-main">
    <div class="dark"> 
        <div class="form-container">   
            {{!-- <label for="collections">Select Collection:</label> --}}

            <form action="/addpurchase/{{releaseId}}" method="POST">
            <h2>Select Collection:</h2>
            <select   class='selection'  name="collection" id="collection">
            {{#each user.collections}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}} 
            </select>

            <button class='button' type="submit">Buy</button>
            {{#if message}}
            <h3>{{message}}</h3>
            <a class='button btn-link' href="/profile">Your profile</a>
            {{/if}}
            </form>

            
            </div>    
    </div>
</div>

