{{#each tracks.artists}}
<h1>{{name}}</h1>
{{/each}}

<h3>{{tracks.title}}</h3>

<img src="{{imgSrc}}" height="200" width="200">

<ul>
{{#each tracks.tracklist}}    
<li>{{title}}</li>
{{/each}}
</ul>