<h2>Creat the collection</h2>
<form action="/collections/{{user._id}}/add" method="POST">
	<label for="">Name: </label>
	<input type="text" name="name">

	<label for="">Description: </label>
	<input type="text" name="description">

	<button type="sumbmit">Create</button>
</form>